langchain
langchain-groq
faiss-cpu
pandas
tiktoken
langchain-community
langchain-openai
chromadb
sentence-transformers
pypdf 
python-dotenv
pandas
langchain-core
python-docx 
docx2txt
ipykernel
unstructured[docx]
openpyxl
matplotlib
jq
## embeddings
langchain-huggingface
sentence-transformers